.navbar-brand {
    font-size: 2em;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

.container-fluid .row .col-md-4 .container-fluid {
    padding: 0px;
}