<div class="container" ng-controller="RestaurantCtrl" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <h1 tabindex="0">{{restaurant.name}}</h1>
            <p tabindex="0">{{restaurant.address}}</p>
            <div ng-repeat="comment in comments" tabindex="0">
                <strong>{{comment.reviewer}} - {{comment.date}}</strong>
                <p><uib-rating ng-model="comment.stars" read-only="true"></uib-rating> {{comment.comments}}</p>
            </div>
            <form class="form-horizontal">
                Rate this place:
                <uib-rating ng-model="stars"></uib-rating>
                <br>
                <textarea class="form-control">Please enter your comments here</textarea>
                <button class="btn btn-primary">Share</button>
            </form>
        </div>
    </div>
</div>

