<!DOCTYPE html>
<html ng-app="restaurantApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrapflatly.min.css">
    <title>Restaurant Reviews</title>
</head>

<body ng-controller="RootCtrl" ng-init="init()">
    <header>
        <div class="navbar navbar-reverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Restaurant Reviews</a>
                </div>
                <form class="navbar-form navbar-left" role="search">
                    <select class="form-control" ng-model="criteriatype" ng-change="typeChanged()">
                        <option>All types</option>
                        <option>Fast Food</option>
                        <option>Mexican</option>
                        <option>Italian</option>
                        <option>Chinese</option>
                        <option>Pizza</option>
                    </select>
                    <select class="form-control" ng-model="criteriaprice" ng-change="priceChanged()">
                        <option>All prices</option>
                        <option>$</option>
                        <option>$$</option>
                        <option>$$$</option>
                    </select>
                    <select class="form-control" ng-model="criteriarating" ng-change="ratingChanged()">
                        <option>All ratings</option>
                        <option>**</option>
                        <option>***</option>
                        <option>****</option>
                    </select>
                </form>
            </div>
        </div>
    </header>

    <div ng-view></div>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>

    <script src="js/all.js"></script>
</body>

</html>